html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

/* layout */

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    overflow: hidden;
    padding: 4px;
    background: #d3d3d3;
    box-shadow: 0 4px 8px #929292;
    z-index: 1;
    transition: 0.5s height;
}
.toolbar a {
    cursor: pointer;
}
.toolbar.full {
    height: 95%;
}
.editor,
.source {
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

/* toolbar */
.toolbar-buttons {
    width: 100%;
    margin-bottom: 4px;
}
.toolbar-buttons button,
.edit-actions button {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0;
    background: none;
    cursor: pointer;
    background: #d3d3d3;
}
.toolbar-buttons button:hover {
    background: #eeeeee;
}
.toolbar-buttons .wysihtml5-command-active {
    background: #fff;
}
.toolbar-buttons .icon {
    width: 16px;
    height: 16px;
}
.toolbar-ext {
    margin-bottom: 19px;
}
.lookup {
    position: absolute;
    top: 90px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

.wysihtml-editor .toolbar-buttons,
.wysihtml-editor .insert-image-dialog,
.wysihtml-editor .create-link-dialog {
    background: #d3d3d3;
}
.wysihtml-editor .editor[contenteditable="true"]:active,
.wysihtml-editor .editor[contenteditable="true"]:focus{
    border:none;
    outline:none;
}
.wysihtml-editor .edit-actions {
}
.wysihtml-editor .hidden {
    display: none;
}
.wysihtml-editor .editor {
    min-height: 1em;
    padding: 20px;
}
.wysihtml-editor .source textarea {
    width: 100%;
    font-size: 12px;
    font-family: Consolas, "courier new", monospace;
}

/* Copy formatting styles */
.wysiwyg-text-align-left {
    text-align: left;
}
.wysiwyg-text-align-right {
    text-align: right;
}
.wysiwyg-text-align-center {
    text-align: center;
}
.wysiwyg-text-align-justify {
    text-align: justify;
}
.wysiwyg-align-top {
    vertical-align: top;
}
.wysiwyg-align-middle {
    vertical-align: middle;
}
.wysiwyg-align-bottom {
    vertical-align: bottom;
}
.wysiwyg-float-right {
    float: right;
    margin-left: 10px;
}
.wysiwyg-float-left {
    float: left;
    margin-right: 10px;
}

/* insert image dialog */
.insert-image.modal,
.create-link.modal {
    display: block;
    overflow: auto;
    top: 100px;
}
    .insert-image-dialog .image-holder {
    float: left;
    clear: left;
    width: 100px;
    height: 100px;
    padding: 2px;
    outline: 1px solid #ddd;
    margin-right: 5px;
}
.insert-image-dialog .image-holder img {
    max-width: 96px;
    max-height: 96px;
}