html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

/* layout */

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    overflow: auto;
}
.editor,
.source {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: hidden;
}

/* toolbar */
.toolbar button,
.edit-actions button {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0;
    background: none;
    cursor: pointer;
    background: #d3d3d3;
}
.toolbar .wysihtml5-command-active {
    background: #fff;
}
.toolbar .icon {
    width: 16px;
    height: 16px;
}
.wysihtml-editor .toolbar {

}
.wysihtml-editor:hover .toolbar {
    display: block;
}
.wysihtml-editor .toolbar-buttons {
    background: #d3d3d3;
}
.wysihtml-editor .editor[contenteditable="true"]:active,
.wysihtml-editor .editor[contenteditable="true"]:focus{
    border:none;
    outline:none;
}
.wysihtml-editor .edit-actions {
}
.wysihtml-editor .hidden {
    display: none;
}
.wysihtml-editor .editor {
    min-height: 1em;
    padding: 20px;
}
.wysihtml-editor .source textarea {
    width: 100%;
    font-size: 12px;
    font-family: Consolas, "courier new", monospace;
}

/* footer */
.footer {
    background: #d3d3d3;
    padding: 15px 28px;
}
.footer button {
    float: right;
    cursor: pointer;
}